@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap');

/* --------- GLOBAL ----------*/
:root{
    --layout-padding: 4em 0 5em 0;

    --first-spacing-size: 1em;
    --second-spacing-size: 1.5em;
    --third-spacing-size: 2em;
    --fourth-spacing-size: 2.5em;

    --white-color: #fff;
    --light-blue: #66F7F0;
    --dark-blue: #0D0A15;
    --dark-gray: #161716;

    --transition-one: all .5s ease;
}

body{
    font-family: 'Quicksand', Helvetica, sans-serif;
}

i{
    color: var(--light-blue);
}

.content{
    margin: 0 auto;
    max-width: 80%;
}

.paragraph-content{
    color: var(--light-blue);
    font-size: 0.8em;
    font-weight: 600;
}

.line-x{
    background-color: var(--light-blue);
    margin-right: var(--first-spacing-size);
    height: 2px;
    width: var(--fourth-spacing-size);
}

.line-y{
    background-color: var(--light-blue);
    border-radius: 10px;
    display: block;
    margin: var(--third-spacing-size) auto 0 auto;
    height: 3em;
    width: .15em;
}

.long-line{
    width: 100%;
    background: rgb(138, 118, 118);
    height: 1px;
    margin: var(--first-spacing-size) 0 3em 0;
}

.block-content{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.heading{
    color: var(--white-color);
    font-size: clamp(35px, 7vw, 4em);
    margin-bottom: .15em;
}

.title-content{
    margin-bottom: 3em;
}

#services .title-content, 
.text-content{
    padding-left: 2.25em;
}

.main-heading{
    display: flex;
    align-items: center;
}

.flex-item{
    background-color: var(--dark-gray);
    margin: 0 auto 4em auto;
    position: relative;
    padding: var(--third-spacing-size);
    transition: var(--transition-one);
    height: 280px;
    width: 285px;
}

.flex-item i{
    font-size: var(--fourth-spacing-size);
    margin-bottom: .75em;
}

.flex-item .line-x{
    margin: var(--first-spacing-size) 0;
}

.p-block-content{
    color: var(--white-color);
    line-height: 1.5;
}

.block-content-two p{
    margin-top: 1.25em;
}

#news .title-content,
.project-content,
.depoiment-box{
    text-align: center;
}

/*------- HEADER ----------*/
#introduction{
    background-color: #000;
}

#introduction .header-content{
    padding: var(--third-spacing-size) 4.5em;
}

#introduction #nav{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.logo i{
    color: white;
    font-size: var(--third-spacing-size);
}

#btn-mobile{
    display: none;
}

#introduction .menu{
    display: flex;
    align-items: center;
}

#introduction .header-content .main-link{
    font-size: 0.85em;
    font-weight: 600;
    margin: var(--first-spacing-size);
}

.main-link a{
    color: #fff;
}

.main-link::after{
    content: '';
    display: block;
    background-color: var(--light-blue);
    width: 0;
    height: 2px;
    transition: var(--transition-one);
}

.main-link:hover:after{
    width: 100%;
}

.header-content .contact-link{
    position: relative;
    padding: 0.85em var(--second-spacing-size);
    border: 2px solid var(--light-blue);
    z-index: 1;
}

.header-content .contact-link::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 0;
    background-color: var(--light-blue);
    transition: var(--transition-one);
    z-index: -1;
}

.header-content .contact-link:hover::before{
    width: 100%;
}

/*---------- INTRODUCTION CONTENT ---------*/
.content .text-content .heading-content{
    color: var(--white-color);
    font-size: clamp(42px, 6.5vw, 5em);
    line-height: 1;
    margin: .75em 0 .75em 0;
}

#introduction .button-style button{
    margin-bottom: 7.5em;
}

.button-style button{
    background: none;
    border: 2px solid var(--light-blue);
    color: var(--light-blue);
    cursor: pointer;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    padding: 1.2em var(--second-spacing-size);
    position: relative;
    z-index: 1;
}

.button-style button:hover, 
#introduction .header-content .contact-link:hover{
    color: #000;
}

.button-style button::before{
    content: '';
    background-color: var(--light-blue);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    width: 0%;
    transition: var(--transition-one);
    z-index: -1;
}

.button-style button:hover:before{
    width: 100%;
}

.content .block-content-one .flex-item:hover{
    border: 3px solid var(--light-blue);
}

/* -------- SERVICES --------- */
#services{
    background-color: var(--dark-blue);
    padding: var(--layout-padding);
}

#services .block-content-two .flex-item{
    border-bottom: 5px solid var(--white-color);
    padding: var(--third-spacing-size);
    z-index: 1;
}
#services .block-content-two .flex-item:hover .p-block-content,
#services .block-content-two .flex-item:hover i{
    color: black;
}

#services .block-content-two .flex-item::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 0;
    background-color: var(--light-blue);
    transition: var(--transition-one);
    z-index: -1;
}

#services .block-content-two .flex-item:hover:before{
    width: 100%;
}

/*--------- WORKS -----------*/
#works{
    background-color: var(--dark-gray);
    padding: var(--layout-padding);
}

#works .block-content img{
    width: 16.66%;
}

#works .button-style{
    margin: var(--third-spacing-size) 0 3em 0;
    text-align: center;
}

/*------- ABOUT ---------*/
#about{
    background-color: var(--dark-blue);
    padding: var(--layout-padding);
}

#about .about-us{
    color: var(--white-color);
    padding: var(--second-spacing-size);
    width: 33.3%;
    margin: var(--third-spacing-size) auto;
}

#about .about-us + .about-us{
    border-left: 2px solid var(--light-blue);
}

#about .about-us p{
    margin: var(--second-spacing-size) 0;
    line-height: 1.5;
}

.gallery{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: var(--fourth-spacing-size);
    gap: var(--second-spacing-size);
}

.gallery .item{
    position: relative;
}

.gallery .item img{
    width: 100%;
}

.gallery .item .title-about{
    background-color: rgba(0,0,0, 0.5);
    padding: var(--first-spacing-size) var(--second-spacing-size);
    color: var(--white-color);
    position: absolute;
    bottom: 0;
    width: 100%;
    opacity: 0;
    line-height: 2;
    transition: var(--transition-one);
}

.gallery .item:hover .title-about{
    opacity: 1;
}

.item:nth-child(1){
    grid-row: 1 / 3;
}

/*--------- TESTIMONIALS ---------*/
#testimonials{
    background-color: var(--dark-gray);
    padding: var(--layout-padding);
}

#testimonials .depoiment-box{
    background-color: var(--dark-blue);
    border: 1px solid rgb(78, 78, 78);
    color: var(--white-color);
    height: 270px;
    margin: 0 auto 7em auto;
    padding: var(--second-spacing-size);
    position: relative;
    transition: var(--transition-one);
    width: 320px;
}

.line-effect:nth-child(1){
    background-color: var(--light-blue);
    height: 2px;
    left: 0;
    top: 0;
    transition: all 1s ease .1s;
    position: absolute;
    width: 0;
}

.depoiment-box:hover .line-effect:nth-child(1){
    width: 100%;
}

.line-effect:nth-child(2){
    background-color: var(--light-blue);
    position: absolute;
    top: 0;
    right: 0;
    width: 2px;
    height: 0;
    transition: all 1s ease .9s;
}

.depoiment-box:hover .line-effect:nth-child(2){
    height: 100%;
}

.line-effect:nth-child(3){
    background-color: var(--light-blue);
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 2px;
    transition: all 1s ease 1.8s;
}

.depoiment-box:hover .line-effect:nth-child(3){
    width: 100%;
}

.line-effect:nth-child(4){
    background-color: var(--light-blue);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 2px;
    height: 0;
    transition: all 1s ease 2.7s;
}

.depoiment-box:hover .line-effect:nth-child(4){
    height: 100%;
}

#testimonials .depoiment-box .bxs-quote-alt-right{
    font-size: var(--fourth-spacing-size);
}

#testimonials .depoiment-box p{
    margin: var(--first-spacing-size) 0 1.75em 0;
}

.depoiment-box .profile-content{
    transform: translateY(var(--first-spacing-size));
}

.depoiment-box .profile-content .photo{
    border-radius: 5em;
    object-fit: cover;
    width: 50px;
    height: 50px;
    transition: var(--transition-one);
}

.depoiment-box .profile-content .photo:hover{
    transform: scale(1.2);
}

.depoiment-box .profile-content span{
    display: block;
}

.depoiment-box .profile-content .name{
    font-weight: 600;
}

#testimonials .partners{
    font-size: 2.25em;
    width: 350px;
    margin: var(--second-spacing-size) auto;
}

#testimonials .partners i{
    color: var(--white-color);
}

/* ------------ LATEST NEWS ------------*/
#news{
    background-color: var(--dark-blue);
    padding: var(--layout-padding);
}


#news .news-content{
    border: 1px solid rgb(78, 78, 78);
    color: var(--white-color);
    height: 480px;
    width: 440px;
    margin: 0 auto var(--fourth-spacing-size) auto;
}

#news .news-content .news-spacing{
    padding: var(--second-spacing-size);
}

#news .news-content .news-spacing p{
    margin-bottom: var(--first-spacing-size);
}

#news .news-content img{
    width: 100%;
}

/* ----------- PROJECT IN MIND -----------*/
.project-in-mind{
    background-color: var(--dark-blue);
    padding: var(--layout-padding);
}

.project-in-mind .line-y{
    transform: translateY(-5em);
    height: 5em;
}

.project-in-mind .block-content-in-mind{
    width: 300px;
    margin: 0 auto;
}

.project-in-mind .project-content .social-media{
    border: 2px solid var(--light-blue);
    border-radius: var(--third-spacing-size);
    margin-bottom: var(--first-spacing-size);
    padding: 0.75em;
}

.social-media .bx{
    font-size: var(--second-spacing-size);
}

.project-in-mind .project-content .heading{
    margin: var(--first-spacing-size) 0;
}

/* ---------- FOOTER ------------*/
.footer-content{
    background-color: var(--dark-blue);
    position: relative;
}

.footer-content .block-content-footer{
    align-items: flex-start;
}

.footer-content .links-box{
    color: var(--white-color);
    margin-bottom: 5em;
}

.footer-content .links-box p{
    margin: var(--first-spacing-size) 0;   
}

.footer-content .links-box .footer-links .main-link{
   padding: var(--first-spacing-size) 0;
}

.footer-content .links-box .secure{
    color: var(--light-blue);
}

.contact-media{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-between;
    padding-bottom: var(--second-spacing-size);
    width: 145px;
}

.footer-content .social-media:hover i{
    color: var(--white-color);
}


.footer-content .back-to-top{
    border-radius: 15em;
    border: 1px solid var(--light-blue);
    padding: 0 .1em;
    font-size: var(--third-spacing-size);
    position: absolute;
    bottom: 3.25em;
    right: var(--second-spacing-size);
    transition: var(--transition-one);
}

.footer-content .back-to-top::before{
    border: 2px solid var(--light-blue);
    border-radius: 5em;
    color: var(--white-color);
    content: 'Voltar ao topo';
    display: block;
    font-size: 0.5em;
    padding: .5em;
    position: absolute;
    opacity: 0;
    transform: translate(-3.5em, -4em);
    width: 110px;
    transition: var(--transition-one);
}

.footer-content .back-to-top:hover:before{
    opacity: 1;
    transform: translate(-3.5em,-3em);
}

.footer-content .back-to-top:hover{
    background-color: var(--light-blue);
}

.footer-content .back-to-top i:hover{
    color: #000;
}

/* ----------- MEDIA QUERIES -------------*/
@media (max-width: 932px){
    
    #introduction .header-content{
        padding-bottom: 5em;
    }

    #introduction .menu{
        background: rgba(0,0,0,1);
        display: block;
        right: 0;
        position: absolute;
        top: 4.5em;
        transition: .6s;
        opacity: 0;
        width: 100%;
        z-index: 1000;
    }

    .main-link{
        text-align: center;
        padding: var(--first-spacing-size);
    }

    .main-link a:hover{
       color: var(--light-blue);
    }

    .main-link:hover:after{
        width: 0;
    }

    #nav.active .menu{
        height: 100vh;
        opacity: 1;
    }
    
    #btn-mobile{
        background: none;
        border: none;
        cursor: pointer;
        display: flex;
        font-size: 1rem;
        gap: .5rem;
        padding: .5rem 1rem;
    }

    #hamburger{
        border-top: 2px solid;
        width: var(--first-spacing-size);
        color: var(--white-color);
    }

    #hamburger::after,
    #hamburger::before{
        background: currentColor;
        content: '';
        display: block;
        height: 2px;
        margin-top: 5px;
        position: relative;
        transition: .3s;
        width: var(--first-spacing-size);
    }

    #nav.active #hamburger{
        border-top-color: transparent;
    }

    #nav.active #hamburger::before{
        transform: rotate(135deg);
    }

    #nav.active #hamburger::after{
        transform: rotate(-135deg);
        top: -7px;
    }

    #works .block-content img{
        width: 33.3%;
    }
    
    .text-content{
        text-align: center;
        padding-left: 0;
    }
    
    .depoiment-box .profile-content:nth-child(1){
        transform: translateY(1.25em);
    }
}

@media (max-width: 750px){
    #works .block-content img{
        width: 50%;
    }
    
    .gallery{
        display: block;
    }
    
    .gallery img{
        display: block;
        margin: var(--second-spacing-size) auto;
        width: 100%;
    }

    #about .about-us{
        border-left: 2px solid var(--light-blue);
        width: 90%;
    }
    
    .about-us + .about-us{
        margin-top: 3em; 
    }
    
    .footer-content{
        padding-bottom: 1em;
    }

    .footer-content .block-content{
        display: block;
    }

    .links-box{
        text-align: center;
    }

    .footer-content .line-x{
        margin: 0 auto;
    }

    .footer-content .back-to-top{
        font-size: 1.8em;
        bottom: 4em;
    }

    .footer-content .back-to-top::before{
        width: 100px;
    }

    .footer-content .links-box .title-link{
        border-left: 2px solid var(--light-blue);
        padding-left: .5em;
    }
}

@media (max-width: 520px){
    #works .block-content img{
        width: 100%;
    }
}