@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap');

/* --------- GLOBAL ----------*/
:root{
    --layout-padding: 4em 0 5em 0;
}

body{
    font-family: 'Quicksand', sans-serif;
}

i{
    color: #66F7F0;
}

a{
    color: #fff;
}

.content{
    margin: 0 auto;
    max-width: 80%;
}

.paragraph-content{
    color: #66F7F0;
    font-size: 0.8em;
    font-weight: 600;
}

.line-x{
    background-color: #66F7F0;
    margin-right: 1em;
    height: 2px;
    width: 2.5em;
}

.line-y{
    background-color: #66F7F0;
    border-radius: 10px;
    display: block;
    margin: 2em auto 0 auto;
    height: 3em;
    width: .15em;
}

.long-line{
    width: 100%;
    background: rgb(138, 118, 118);
    height: 1px;
    margin: 1em 0 1.5em 0;
}

.block-content{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}


.heading{
    color: #fff;
    font-size: clamp(40px, 7vw, 4em);
    margin-bottom: .15em;
}

.title-content{
    margin-bottom: 3em;
}

.main-heading{
    display: flex;
    align-items: center;
}

.flex-item{
    background-color: #161716;
    margin: 0 auto 1.5em auto;
    position: relative;
    padding: 2em;
    transition: all .5s ease;
    height: 280px;
    max-width: 285px;
}

.flex-item i{
    font-size: 2.5em;
    margin-bottom: .75em;
}

.flex-item .line-x{
    margin: 1em 0;
}

.p-block-content{
    color: #fff;
    line-height: 1.5;
}

.block-content-two p{
    margin-top: 1.25em;
}

/*------- HEADER ----------*/
#introduction{
    background-color: #000;
}

#introduction .header-content{
    padding: 2em 4.5em;
}

#introduction #nav{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.logo i{
    color: white;
    font-size: 2em;
}

#btn-mobile{
    display: none;
}

#introduction .menu{
    display: flex;
    align-items: center;
}

#introduction .header-content .main-link{
    font-size: 0.85em;
    font-weight: 600;
    margin: 1em;
}

.main-link::after{
    content: '';
    display: block;
    background-color: #66F7F0;
    width: 0;
    height: 2px;
    transition: all .5s ease;
}

.main-link:hover:after{
    width: 100%;
}

.header-content .contact-link{
    position: relative;
    padding: 0.85em 1.5em;
    border: 2px solid #66F7F0;
    z-index: 1;
}

.header-content .contact-link::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 0;
    background-color: #66F7F0;
    transition: all .5s ease;
    z-index: -1; /* IMPORTANTEE */
}

.header-content .contact-link:hover::before{
    width: 100%;
}

/*---------- INTRODUCTION CONTENT ---------*/
.content .text-content .heading-content{
    color: #fff;
    font-size: clamp(40px, 6.5vw, 6em);
    line-height: 1;
    margin: .75em 0 .75em 0;
}

#introduction .button-style button{
    margin-bottom: 7.5em;
}

.button-style button{
    background: none;
    border: 2px solid #66F7F0;
    color: #66F7F0;
    cursor: pointer;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    padding: 1.2em 1.5em;
    position: relative;
    z-index: 1;
    transition-delay: .1s;
}

.button-style button:hover, 
#introduction .header-content .contact-link:hover{
    color: #000;
}

.button-style button::before{
    content: '';
    background-color: #66F7F0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    width: 0%;
    transition: all .5s ease;
    z-index: -1;
}

.button-style button:hover:before{
    width: 100%;
}

.content .block-content-one .flex-item:hover{
    border: 3px solid #66F7F0;
}

/* -------- SERVICES --------- */
#services{
    background-color: #0D0A15;
    padding: var(--layout-padding);
}

#services .block-content-two .flex-item{
    border-bottom: 5px solid #fff;
    padding: 2em;
    z-index: 1;
}
#services .block-content-two .flex-item:hover .p-block-content,
#services .block-content-two .flex-item:hover i{
    color: black;
}
#services .block-content-two .flex-item::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 0;
    background-color: #66F7F0;
    transition: all .5s ease;
    z-index: -1;
}

#services .block-content-two .flex-item:hover:before{
    width: 100%;
}

/*--------- WORKS -----------*/
#works{
    background-color: #121212;
    padding: var(--layout-padding);
}

#works .block-content img{
    width: 16.66%;
    margin: 0 auto 0 auto;
    height: 100%;
}

#works .button-style{
    margin: 2em 0 3em 0;
    text-align: center;
}

/*------- ABOUT ---------*/
#about{
    background-color: #0D0A15;
    padding: var(--layout-padding);
}

#about .about-us{
    color: #fff;
    padding: 1.5em;
    width: 400px;
}

#about .about-us + .about-us{
    border-left: 2px solid #66F7F0;
}

#about .about-us p{
    margin-top: 1.5em;
    line-height: 1.5;
}

.gallery{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 2.5em;
    gap: 20px;
}

.gallery .item{
    position: relative;
}

.gallery img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
}

.gallery .item .title-about{
    background-color: rgba(0,0,0,0.4);
    padding: 1em 1.5em;
    color: #fff;
    position: absolute;
    bottom: 0;
    width: 100%;
    opacity: 0;
    line-height: 2;
    transition: all 1s ease;
}

.gallery .item:hover .title-about{
    opacity: 1;
}

.item:nth-child(1){
    grid-row: 1 / 3;
}

/*--------- TESTIMONIALS ---------*/
#testimonials{
    background-color: #161716;
    padding: var(--layout-padding);
}

#testimonials .depoiment-box{
    background-color: #0D0A15;
    border: 1px solid rgb(78, 78, 78);
    color: #fff;
    height: 270px;
    margin: 0 auto 7em auto;
    padding: 1.5em;
    position: relative;
    text-align: center;
    transition: all .5s ease;
    width: 320px;
}

.line-effect:nth-child(1){
    background-color: #66F7F0;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 2px;
    transition: all 1s ease .1s;
}

.depoiment-box:hover .line-effect:nth-child(1){
    width: 100%;
}

.line-effect:nth-child(2){
    background-color: #66F7F0;
    position: absolute;
    top: 0;
    right: 0;
    width: 2px;
    height: 0;
    transition: all 1s ease .9s;
}

.depoiment-box:hover .line-effect:nth-child(2){
    height: 100%;
}

.line-effect:nth-child(3){
    background-color: #66F7F0;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 2px;
    transition: all 1s ease 1.8s;
}

.depoiment-box:hover .line-effect:nth-child(3){
    width: 100%;
}

.line-effect:nth-child(4){
    background-color: #66F7F0;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 2px;
    height: 0;
    transition: all 1s ease 2.7s;
}

.depoiment-box:hover .line-effect:nth-child(4){
    height: 100%;
}

#testimonials .depoiment-box .bxs-quote-alt-right{
    font-size: 2.5em;
}

#testimonials .depoiment-box p{
    margin: 1em 0 1.75em 0;
}

.depoiment-box .profile-content{
    transform: translateY(1em);
}

.depoiment-box .profile-content .photo{
    border-radius: 5em;
    object-fit: cover;
    width: 50px;
    height: 50px;
    transition: all .5s ease;
}

.depoiment-box .profile-content .photo:hover{
    transform: scale(1.2);
}

.depoiment-box .profile-content span{
    display: block;
}

.depoiment-box .profile-content .name{
    font-weight: 600;
}

#testimonials .partners{
    font-size: 2.25em;
    text-align: center;
    width: 350px;
    margin: 1.5em auto 1.5em auto;
}

#testimonials .partners i{
    color: #fff;
}

/* ------------ LATEST NEWS ------------*/
#news{
    background-color: #0D0A15;
    padding: var(--layout-padding);
}

#news .title{
    text-align: center;
}

#news .news-content{
    border: 1px solid rgb(78, 78, 78);
    color: #fff;
    height: 480px;
    width: 440px;
    margin: 0 auto 2.5em auto;
}
#news .news-content .news-title{
    padding: 1.5em;
}

#news .news-content .news-title p{
    margin-bottom: 1em;
}

#news .news-content img{
    width: 100%;
    object-fit: cover;
}

/* ----------- PROJECT IN MIND -----------*/
.project-in-mind{
    background-color: #0D0A15;
    padding: var(--layout-padding);
}

.project-in-mind .line-y{
    transform: translateY(-5em);
    height: 5em;
}

.project-content{
    text-align: center;
}


.project-in-mind .project-content .social-media{
    border: 2px solid #66F7F0;
    border-radius: 2em;
    padding: 0.65em;
    margin-bottom: 1em;
    width: 50px;
}

.social-media .bx{
    font-size: 1.5em; /* Verificar se a função Clamp é boa*/
}

.project-in-mind .block-content-in-mind{
    width: 250px;
    margin: 0 auto;
}

.project-in-mind .project-content .heading{
    margin: 1em 0;
}

/* ---------- FOOTER ------------*/
.footer-content{
    background-color: #0D0A15;
    position: relative;
    padding-top: 4em;
}

.footer-content .block-content-footer{
    align-items: flex-start;
}

.footer-content .links-box,
.footer-content .links-box a{
    color: #fff;
    margin-bottom: 2.5em;
}

.footer-content .links-box p{
    margin: 1em 0;   
}

.footer-content .links-box .footer-links li{
   padding: 0.75em 0;
}

.footer-content .links-box .link-flex{
    display: flex;
    align-items: center;
    gap: 1em;
    margin: 0 auto;
}

.footer-content .links-box .secure{
    color: #66F7F0;
}

.footer-content .contact-media{
    width: 145px;
    padding: 0 0 1.5em 0;
}

.footer-content .social-media:hover i{
    color: #fff
}

.footer-content .back-to-top{
    border-radius: 15em;
    border: 1px solid #66F7F0;
    color: #fff;
    padding: 0 .1em;
    font-size: 2em;
    position: absolute;
    bottom: .5em;
    right: 1.5em;
    transition: all 1s ease;
}

.footer-content .back-to-top::before{
    border: 2px solid #66F7F0;
    border-radius: 5em;
    content: 'Voltar ao topo';
    display: block;
    font-size: 0.5em;
    padding: .5em;
    position: absolute;
    opacity: 0;
    transform: translate(-3.5em, -4em);
    width: 110px;
    transition: all .5s ease;
}

.footer-content .back-to-top:hover:before{
    opacity: 1;
    transform: translate(-3.5em,-3em);
}

.footer-content .back-to-top:hover{
    background-color: #66F7F0;
}

.footer-content .back-to-top i:hover{
    color: #000;
}

/* ----------- MEDIA QUERIES -------------*/
@media (max-width: 932px){
    
    #introduction .header-content{
        padding-bottom: 5em;
    }

    #introduction .menu{
        background: rgba(0,0,0,1);
        display: block;
        right: 0;
        position: absolute;
        top: 4.5em;
        transition: .6s;
        opacity: 0;
        width: 100%;
        z-index: 1000;
    }

    .main-link{
        text-align: center;
        padding: 1em;
    }

    .main-link:hover:after{
        width: 0;
    }

    .header-content .contact-link{
        border: 0;
        background: 0;
    }
    
    .header-content .contact-link:hover::before{
        width: 0;
    }

    #nav.active .menu{
        height: 100vh;
        opacity: 1;
    }
    
    #btn-mobile{
        background: none;
        border: none;
        cursor: pointer;
        display: flex;
        font-size: 1rem;
        gap: .5rem;
        padding: .5rem 1rem;
    }

    #hamburger{
        border-top: 2px solid;
        width: 1em;
        color: #fff;
    }

    #hamburger::after,
    #hamburger::before{
        background: currentColor;
        content: '';
        display: block;
        height: 2px;
        margin-top: 5px;
        position: relative;
        transition: .3s;
        width: 1em;
    }

    #nav.active #hamburger{
        border-top-color: transparent;
    }

    #nav.active #hamburger::before{
        transform: rotate(135deg);
    }

    #nav.active #hamburger::after{
        transform: rotate(-135deg);
        top: -7px;
    }

    .link-effect:hover:after{
        width: 0;
    }

    #works .block-content img{
        width: 33.3%;
    }
    
    .text-content{
        text-align: center;
    }

    .depoiment-box .profile-content:nth-child(1){
        transform: translateY(1.25em);
    }
}

@media (max-width: 750px){
    #works .block-content img{
        width: 50%;
    }

    .gallery{
        display: block;
    }

    .gallery img{
        display: block;
        margin: 1.5em auto;
        width: 100%;
    }

    .about-us{
        border-left: 2px solid #66F7F0;
        margin: 0 auto; 
    }

    .about-us + .about-us{
        margin-top: 3em; 
    }

    .footer-content .block-content{
        display: block;
    }

    .links-box{
        text-align: center;
    }

    .footer-content .back-to-top{
        font-size: 1.8em;
        bottom: .75em;
        right: 1.75em;
    }
}

@media (max-width: 520px){
    #works .block-content img{
        width: 100%;
    }
}